---
- name: Download file from vmware
  block:
    - name: get check script
      get_url: 
        url: "{{ script_urls.checksts }}"
        dest: "{{ ansible_user_dir }}/checksts.py"
        mode: '0644'
  rescue:
    - name: make a work dir
      file:
        state: directory
        path: "{{ playbook_dir }}/work"
      delegate_to: localhost

    - name: get check script
      get_url: 
        url: "{{ script_urls.checksts }}"
        dest: "{{ playbook_dir }}/work/checksts.py"
        mode: '0644'
      delegate_to: localhost

    - name: copy file to server
      copy:
        src: "{{ playbook_dir }}/work/checksts.py"
        dest:  "{{ ansible_user_dir }}/checksts.py"

- name: run the checksts.py script
  shell:
    cmd: python {{ ansible_user_dir }}/checksts.py
  register: check_sts_results
  changed_when: False

- name: set expired flag
  set_fact:
    expired_certs: True
  when: 
    - check_sts_results.stdout is regex("[1-9]\d*\ EXPIRED\ CERTS")

- name: set expiring flag
  set_fact:
    expiring_certs: True
  when: 
    - check_sts_results.stdout is regex("[0-1]\ \ years")

- name: Output results 
  debug:
    msg: "STS Certs are expiring this year"
  when: 
    - check_sts_results.stdout is regex("1\ years")

- name: Output results 
  debug:
    msg: "Expired or Expiring Certs Found"
  when: 
    - ( expired_certs or expiring_certs )

- name: Output verbose results 
  debug:
    var: check_sts_results.stdout_lines
    verbosity: 1

- name: generate report_stubs
  include_role:
    name: generate_report_stubs
  when: 
    - send_report | default(False)

- name: set run_script varible
  set_fact:
    run_fix: yes
  when:
    - ( expired_certs or expiring_certs )
    - fix_sts | default(False)