---
- name: prompt for password
  pause:
    prompt: "enter administrator@vsphere.local password"
    echo: no
  when: env_vmware_password == ""
  register: vmware_password_prompt

- name: get offical fixsts script
  get_url: 
    url: "{{ script_urls.fixsts }}"
    dest: "{{ ansible_user_dir }}/fixsts.sh"
    mode: '0744'
  when: not use_patched | default(False)

- name: copy patched fixsts.sh script
  copy:
    src: files/patched_fixsts.sh
    dest: "{{ ansible_user_dir }}/fixsts.sh"
    mode: '0744'
  when: use_patched | default(False)

- name: make log directory
  file:
    state: directory
    path: logs
  changed_when: False
  delegate_to: localhost
  run_once: yes

- name: run vmware's fixsts.shs script
  shell:
    cmd:  "{{ ansible_user_dir }}/fixsts.sh"
  when: env_vmware_password == ""
  environment:
    VMWARE_PASSWORD: vmware_password_prompt.user_input

- name: run vmware's fixsts.shs script
  shell:
    cmd:  "{{ ansible_user_dir }}/fixsts.sh"
  when: env_vmware_password != ""

- name: fetch log file
  fetch:
    src: /tmp/vmware-fixsts/fix_sts_cert.log
    dest: logs